.ant-card {
    position: inherit;
    margin: 0px 50px 30px 50px;
    font-family: 'Ubuntu', sans-serif;
    width: 300px;
}

.card-content {
    text-align: center;
}

.price {
    font-size: 30px;
    font-weight: 700;
    color: #595959;
    margin-bottom: 10px;
}

.update-time {
    margin-top: 20px;
    font-size: 13px;
    font-weight: 100;
}

.update-time .last-update {
    font-size: 15px;
    font-weight: 700;
}

.ant-card-actions span {
    width: 100% !important;
}

@media (max-width: 480px) {
    .ant-card {
        width: 300px;
        margin: 0px 20px 30px 20px;
    }
}