.ant-card {
    position: inherit;
    margin: 0px 50px 30px 50px;
    font-family: 'Ubuntu', sans-serif;
    width: 300px;
}

.ant-card-body {
    padding: 20px 10px;
}

.card-content {
    text-align: center;
}

.price {
    font-size: 35px;
    font-weight: 700;
    color: #595959;
    margin-bottom: 5px;
}

.ant-progress {
    display: inline-block;
    width: 75%;
}

.left-emoji {
    display: inline-block;
    font-size: 20px;
    margin-right: 5px;
    color: rgba(0, 0, 0, 1);
}

.right-emoji {
    display: inline-block;
    font-size: 20px;
    margin-left: 5px;
    color: rgba(0, 0, 0, 1);
}

.update-time {
    margin-top: 15px;
    font-size: 13px;
    font-weight: 100;
}

.no-data {
    margin: 18px 0px 20px 0px;
}

.update-time .last-update {
    font-size: 15px;
    font-weight: 700;
}

.ant-card-actions span {
    width: 100% !important;
}

.reported {
    color: #389e0d;
}

.reported:hover {
    cursor: not-allowed;
}

@media (max-width: 480px) {
    .ant-card {
        width: 300px;
        margin: 0px 20px 30px 20px;
    }
}