.ant-drawer-content-wrapper {
    width: 50vw !important;
    max-width: 550px;
}

.drawer-meta-info div {
    margin-bottom: 5px;
}

@media (max-width: 767px) {
    .ant-drawer-content-wrapper {
        width: 100vw !important;
    }
}